{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Home Page</strong></h1>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/IMG-8220.jpg') }}" alt="Cross Country Running">
                    <div class="card-body">
                    <h5 class="card-title">Cross Country</h5>
                    <p class="card-text">Cross Country has been something I have been doing since middle school</p>
                    <a href={{ url_for('stub') }} class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/adobo1.jpeg') }}" alt="Chicken Adobo">
                    <div class="card-body">
                    <h5 class="card-title">What food/drink do I like?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Chicken Adobo</li>
                            <li>Sushi</li>
                            <li>Ramen</li>
                            <li>Boba</li>
                        </ol>
                        While those are my favorite foods, I also love to eat various other foods.
                    </p>
                    <a href={{ url_for('stub') }} class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}